* {
  box-sizing: border-box;
  font-family: fantasy;
}

h1 {
	text-align: center;
	padding: 10px;
	font-size: 1.75em;
}

div {
}

span {
float: right;
}

p {
	clear: both;
}

.main {
	padding: 10px;
	margin: 2px;
}

.padding {
	margin: 10px;
	background-color: grey;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
}

.subtitle {
	font-size: 1.25em;
	position: relative;
	top: -1px;
	right: -1px;
	clear: left;
	padding: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
}

#lightpink {
	background-color: lightpink;
}

#red {
	background-color: indianred;
	color: whitesmoke;
}

#brown {
	background-color: sandybrown;
}

@media (min-width: 992px) {
	.col {
		float: left;
		width: 33.33%;
	}
	.col2 {
		float: left;
		width: 33.33%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.col {
		float: left;
		width: 50%;
	}
	.col2 {
		float: left;
		width: 100%;
	}
}

@media (max-width: 767px) {
		.col {
		float: left;
		width: 100%;
	}
	.col2 {
		float: left;
		width: 100%;
	}
}